@page
@model RazorPizzria.Pages.CheckOut.ThankYouModel
@{
}

<div class="container text-center">
	<h1>Thank You!</h1>
	<a class="btn btn-primary mx-auto" asp-area="" asp-page="/Pizza">Order More</a>
</div>
